{% extends "base.html" %}

{% block main_content %}
    <section>
    <h2>Search bar</h2>
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }} 

        {{form.user_id.label}}
        {{form.user_id()}}

        {{form.CharName.label}}
        {{form.CharName()}}


        {{form.species.label}}
        {{form.species()}}

        {{form.className.label}}
        {{form.className()}}

        {{form.level.label}}
        {{form.level(value = "")}}

        {{form.submit()}}
        </form>

    <table>
        <caption>Characters</caption>
        <th scope="col">User</th>
        <th scope="col">Name</th>
        <th scope="col">Species</th>
        <th scope="col">Class</th>
        <th scope="col">Level</th>
    {% for character in characters %}
        <tr>
        <td><a href="{{ url_for('user', user_id = character['user_id'])}}">{{ character["user_id"]}}</a> </td> 
        <td>{{ character["name"]}}</td> 
        <td>{{ character["species"] }}</td>
        <td>{{ character["class"]}}</td> 
        <td>{{ character["level"] }}</td>
        </tr>
    {%endfor%}
    </table>
    </section>

    <section>
        <h2>Statistics</h2>
        <p>Average Level: {{levelMean}}</p>
        <p>Most popular species: {{speciesPop}}</p>
        <p>Most popular class: {{classNamePop}}</p>
    </section>
    

{% endblock %}